
@{
    ViewBag.Title = "Index";
}

<div class="center">
    <h1>Get in touch!</h1>
    <img class="map" src="~/Images/map.png"/>
    <div class="address">
        Åboulevarden 20
        <br />
        8000 Århus C
        <br />
        Tlf: 80808080
        <br />
        Email: info@petparadise.dk
    </div>
</div>

